body{
	background: aliceblue;
}

.center{
	text-align: center;
	color: red;
	background-color: bisque;
}

.large{
	font-size: 250%;
	background-color: initial;
}

p.centro-azul{
	color: blue;
	text-align: center;
	border: 5px solid rgb(33,25,90);
}